* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#amari {
  margin-top: -30%;
  margin-left: 25rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: fit-content;
  border: 1px solid black;
  color: white;
  text-transform: uppercase;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn-register,
.btn-login {
  width: 100px;
}

#count_it {
  margin-top: -30%;
  margin-left: 15rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#down_bad {
  margin-top: -30%;
  margin-left: 10rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#amari2 {
  margin-top: -30%;
  margin-left: 8rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gang {
  margin-top: -30%;
  margin-left: 18rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}

.carousel-item > img {
  width: 100%;
  height: 100vh;
}

.carousel-caption {
  width: 100%;
  height: 100vh;
  margin-top: 500px;
}

.navbar,
h1 {
  position: absolute;
  z-index: 1;
}

.view_albums {
  font-size: 1rem;
}

.navbar {
  width: 100%;
  position: fixed;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  color: white;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.carousel-item {
  position: relative;
}

.registration_form {
  flex-direction: column;
  width: fit-content;
}

#register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://wallpaperaccess.com/full/903777.png");
  background-size: cover;
  color: white;
}

#login {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("https://static.wixstatic.com/media/ba71b6_19cac7dabefb41ab8e484559bb4feb36~mv2.jpg/v1/fill/w_1000,h_1000,al_c,q_90,usm_0.66_1.00_0.01/ba71b6_19cac7dabefb41ab8e484559bb4feb36~mv2.jpg");
  color: white;
}

.btn-login:hover,
.btn-register:hover {
  background-color: black;
  color: white;
}

.login_form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
}

.p-1 {
  width: 250px;
}

#artists {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: #f1f1f1;
}

#artists {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: orange;
}

.wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card:hover {
  transform: translateY(20px);
}

.card::before {
  opacity: 1;
}

.info {
  opacity: 1;
  transform: translateY(0px);
}

.card {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
}

.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(black, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}
h1 {
  margin: 0px;
}
p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

button:hover {
  background: dodgerblue;
  color: white;
}

.artists_margin {
    margin-top: 110px;
}